<div class="jobs">
    <mat-card class="first-card">
        <mat-card-header>
            <mat-card-title>Experience</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="wi-tronix-header-image"></div>
            <mat-card-title>Wi-Tronix</mat-card-title>
            <mat-card-subtitle>Software Developer</mat-card-subtitle>
            <mat-card-subtitle>June 2022 - August 2023</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Prototyped and developed a new live streaming feature using C++, Angular Framework, and .NET Core that
                    allows railroad
                    locomotive operators to view live streams from cameras installed on the locomotive resulting in improved
                    safety of rail
                    operations
                </li>
                <li>
                    Conducted comprehensive exploratory analysis to identify potential synergies between proprietary DVR
                    software and the
                    dynamic features offered by the FFMPEG library
                </li>
                <li>
                    Created new microservice and API using .NET Core that allows for enhanced health monitoring of an
                    embedded IoT
                    application
                </li>
                <li>
                    Leveraged MFC C++ to create and modify intricate software for embedded systems, ensuring improved
                    performance of
                    hardware products and enabling efficient data processing and analysis
                </li>
                <li>
                    Used Google Test C++ testing framework to expand testability of existing software and features allowing
                    for a reduction in
                    testing time and increased software reliability
                </li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button href="https://www2.wi-tronix.com/">Link</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="schwab-header-image"></div>
            <mat-card-title>Charles Schwab</mat-card-title>
            <mat-card-subtitle>Software Development Intern</mat-card-subtitle>
            <mat-card-subtitle>Summer 2021</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Architected and implemented standardized .NET Core microservice templates, improving development practices while
                    aligning with the organization's new development initiative
                </li>
                <li>
                    Used Microsoft Blazor framework to design and simulate web applications and micro-UIs for efficient prototyping purposes
                </li>
                <li>
                    Worked closely with product managers to translate business initiatives into technical specifications and user stories
                </li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button href="https://www.schwab.com/">Link</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="wi-tronix-header-image"></div>
            <mat-card-title>Wi-Tronix</mat-card-title>
            <mat-card-subtitle>Software Development Intern</mat-card-subtitle>
            <mat-card-subtitle>Summer 2020, Winter 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Used MFC C++ to develop software for a custom IoT system utilizing Windows APIs and Data Distribution Service
                </li>
                <li>
                    Added software functionality to remotely toggle IP configuration settings for unique locomotive control systems,
                    allowing
                    these systems to be updated to current software builds
                </li>
                <li>
                    Created an interface to receive NMEA GPS data and build/send UDP messages for other IoT network devices to ingest
                </li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button href="https://www2.wi-tronix.com/">Link</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="texas-state-header-image"></div>
            <mat-card-title>Texas State University</mat-card-title>
            <mat-card-subtitle>Research Assistant - Energy Efficient Computing Systems</mat-card-subtitle>
            <mat-card-subtitle>September 2020 - May 2022</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Assisted in machine learning research focused on reducing bias in pruned/compressed convolutional neural networks used
                    for image classification tasks
                </li>
                <li>
                    Used linux to enhance custom Python research library with functionality to introduce bias into Pytorch datasets and
                    store/load experiment results for quicker generation of metrics
                </li>
                <li>
                    Migrated existing experimental codebase to Pytorch Lightning with Hydra, allowing quicker experiment creation and
                    abstraction of experiment parameters
                </li>
                <li>
                    Utilized Weights and Biases services to automate finding optimal model hyperparameters and generate reports
                </li>
            </ul>
            <mat-divider></mat-divider>
            <mat-card-subtitle>Publications</mat-card-subtitle>
            <ul>
                <li>
                    <a href="https://ieeexplore.ieee.org/abstract/document/9925287">Measuring Bias and Fairness in Multiclass Classification</a>
                </li>
                <li>
                    <a href="https://arxiv.org/abs/2110.04397v1">Measure Twice, Cut Once: Quantifying Bias and Fairness in Deep Neural Networks</a>
                </li>
                <li>
                    <a href="https://arxiv.org/abs/2106.07849v1">Simon Says: Evaluating and Mitigating Bias in Pruned Neural Networks with Knowledge Distillation</a>
                </li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button href="https://www.txst.edu/">Link</a>
        </mat-card-actions>
    </mat-card>
</div>
